.conteiner{
    min-height: 100vh;
    display: flex;
}
.contactList{
    min-width: 300px;
    background-color: rgb(0, 204, 204);
}
.content{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.form{
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(38, 141, 238, 0.623);
    padding: 0 10px 0 10px;
}
dd{
    margin-bottom: 20px;
}
.form button{
    font-family: 24px;
    color: white;
    padding: 10px;
    width: 75px;
    background-color: rgb(38, 141, 238);
    border: 4px solid rgba(0, 255, 255, 0.377);
    border-radius:10px;
}
.name{
    font-size: 22px;
}
.type{
    margin-bottom: 0;   
}
.contact{
    background-color: rgb(0, 204, 204);
    width: 200px;
    padding: 10px;
    border-radius:2px ;
}
input{
    border-radius: 5px;
    border:2px solid rgb(0, 204, 204);
    background-color: rgba(0, 140, 255, 0.253);
    color: gery;
}
select{
    border-radius: 5px;
    border:2px solid rgb(0, 204, 204);
    background-color: rgba(0, 140, 255, 0.253);
    color: gery;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{  
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom:1px solid white ;
}
.active{
    color:grey;
}
li button{
    position: absolute;
    left: 265px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: none;
    background: none;
}
