<div class="conteiner">
    <div class="contactList">
        <ul>
            <div *ngFor="let contact of contacts">
                <li *ngIf="contact.name&&contact.type&&contact.value" (click)="choseContact(contact)" [class.active]="activeContact==contact">{{contact.name}}
                <button (click)="deleteContact(contact)">&#10006;</button>
                </li>
            </div>        
        </ul>
    </div>
    <div class="content">

        <div class="form">
            <dl>
                <dt><label for="contact-name"><b>NAME</b></label></dt>
                <dd><input type="text" id="contact-name" [(ngModel)]="contact.name"></dd>

                <dt><label for="contact-type"><b>TYPE</b></label></dt>
                <dd>
                    <select id="contact-type" [(ngModel)]="contact.type">
                        <option>phone</option>
                        <option>email</option>
                    </select>
                </dd>

                <dt><label for="contact-value"><b>VAULE</b></label></dt>
                <dd><input type="text" id="contact-value" [(ngModel)]="contact.value"></dd>

                <div *ngIf="!contact.name||!contact.type||!contact.value">Пожалуйста заполните все поля</div>
                <dt><button *ngIf="contact.name&&contact.type&&contact.value" (click)="addContact()"><b>ADD</b></button></dt>
            </dl>
        </div>

        <div class="contact" *ngIf="activeContact!==null">
                <dt class="name">{{activeContact.name}}</dt>
                <hr width="100%" align="center" size="1px" color="white">
                <dd class="type">{{activeContact.type}}</dd>
                <dd class="value">{{activeContact.value}}</dd>           
        </div>

    </div>
</div>